<a href="{{ batchBaseUrl }}/{{ batch.batch }}"
   title="{{ batch.name }}, {{ batch.style.name }}{% if batch.params.actual.og %} {{ batch.params.actual.og|pl}}°Blg{% endif %}"
>#{{ batch.batch }}</a>
