<div class="tag-list mb-4">
	<div class="card">
		<div class="card-header">Wyniki dla tagów</div>
		<div class="card-body">
			{% for tag in selectedTags %}
				<a href="/tagi?tag={{ tag.name }}" class="badge badge-light">{{ tag.name }}</a>
			{% endfor %}
		</div>
	</div>
</div>
