$srm: (
	#FFE699,
	#FFD878,
	#FFCA5A,
	#FFBF42,
	#FBB123,
	#F8A600,
	#F39C00,
	#EA8F00,
	#E58500,
	#DE7C00,
	#D77200,
	#CF6900,
	#CB6200,
	#C35900,
	#945534,
	#925536,
	#844C33,
	#744229,
	#683A22,
	#573512,
	#492A0B,
	#3A2102,
	#361F1B,
	#261716,
	#231716,
	#19100F,
	#16100F,
	#120D0C,
	#100B0A,
	#050B0A
);

$ebc: ();
@for $i from 0 to 80 {
	$srmVal: $i * 29 / 79;
	$floor: floor($srmVal);
	$ceil: ceil($srmVal);
	$ratio: percentage(1 - $ceil + $srmVal);

	$ebc: append($ebc, mix(nth($srm, $floor + 1), nth($srm, $ceil + 1), $ratio));
}

.ebc-glass {
	height: 100px;
}
.ebc-glass__outline {
	fill: black;
}
.ebc-glass__beer {
	fill: #f4a23f;
}
@for $i from 1 through 80 {
	.ebc-glass__beer--#{$i} {
		fill: nth($ebc, $i);
	}
}
.ebc-glass__beer-shadow {
	fill: desaturate(darken(#f4a23f, 10%), 10%);
}
@for $i from 1 through 80 {
	.ebc-glass__beer-shadow--#{$i} {
		fill: desaturate(darken(nth($ebc, $i), 10%), 10%);
	}
}
.ebc-glass__head {
	fill: #ffffff;
}
.ebc-glass__head-shadow {
	fill: #f7eeba;
}
