<!doctype html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="robots" content="noindex,nofollow">
	<title>{% block title %}{% endblock %}Browar Domowy Umbra</title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="navbar navbar-expand justify-content-between">
				<a class="navbar-brand" href="/">
					Browar Domowy Umbra
				</a>

				<nav class="navbar-nav">
					<a class="nav-link" href="/warki">Piwo</a>
					<span class="navbar-text">|</span>
					<a class="nav-link" href="/miody">Miód</a>
					<span class="navbar-text">|</span>
					<a class="nav-link" href="/tagi">Tagi</a>
				</nav>
			</div>
		</div>
	</header>
	{% block batchNav %}{% endblock %}

	<div class="main">
		{% block body %}{% endblock %}
	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-center small">
			&copy; 2017-{{ copyrightYear }} <a href="https://dominikmarczuk.pl">Dominik Marczuk</a>
			</p>
		</div>
	</footer>

	{% block scripts %}{% endblock %}
</body>
</html>
