{% if fermentation and fermentation.length %}
<div class="card mb-4">
	<div class="card-body">
		<h3 class="card-title">Przebieg zacierania, warzenia i fermentacji</h3>
		<div class="card-text">
			<table class="table">
				<thead>
					<tr>
						<th><i class="fas fa-calendar-alt" title="Data"></i></th>
						<th><i class="fas fa-shoe-prints" title="Krok"></i></th>
						<th><i class="fas fa-vial" title="Gęstość"></i></th>
						<th><i class="fas fa-glass-whiskey" title="Objętość"></i></th>
						<th><i class="fas fa-comment" title="Notatka"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for note in fermentation %}
					<tr>
						<td style="white-space: nowrap;">{{ note.date }}</td>
						<td style="white-space: nowrap;">{{ note.step }}</td>
						<td style="white-space: nowrap;">{% if note.sg %}{{ note.sg|pl|unit("°Blg") }}{% endif %}</td>
						<td style="white-space: nowrap;">{% if note.volume %}{{ note.volume|pl|unit(" l") }}{% endif %}</td>
						<td>{% if note.note %}{{ note.note }}{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}
