<div class="card mb-4">
	<div class="card-body">
		<h3 class="card-title">Składniki</h3>
		<div class="card-text">

			{% if ingredients.mash and ingredients.mash.length %}
			<hr>
			<h4>Zasyp</h4>
			<table class="table">
				<thead>
					<tr>
						<th><i class="fas fa-crosshairs" title="Typ"></i></th>
						<th><i class="fas fa-id-card" title="Nazwa"></i></th>
						<th><i class="fas fa-balance-scale" title="Ilość"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients.mash %}
					<tr>
						<td>{{ ingredient.type }}</td>
						<td>{{ ingredient.name }}</td>
						<td>{{ ingredient.amount|default("?") }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if ingredients.boil and ingredients.boil.length %}
			<hr>
			<h4>Gotowanie ({% if boilTime.length %}{{ boilTime[0] }}{% else %}{{ boilTime }}{% endif %} min.)</h4>
			<table class="table">
				<thead>
					<tr>
						<th><i class="fas fa-crosshairs" title="Typ"></i></th>
						<th><i class="fas fa-id-card" title="Nazwa"></i></th>
						<th><i class="fas fa-balance-scale" title="Ilość"></i></th>
						<th><i class="fas fa-stopwatch" title="Czas"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients.boil %}
					<tr>
						<td>{{ ingredient.type }}</td>
						<td>{{ ingredient.name }}</td>
						<td>{{ ingredient.amount|default("?") }}</td>
						<td>{{ ingredient.time|default("?") }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if ingredients.yeast and ingredients.yeast.length %}
			<hr>
			<h4>Drożdże</h4>
			<table class="table">
				<thead>
					<tr>
						<th><i class="fas fa-id-card" title="Nazwa"></i></th>
						<th><i class="fas fa-balance-scale" title="Ilość"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients.yeast %}
					<tr>
						<td>{{ ingredient.name|batchlinks(batchBaseUrl) }}</td>
						<td>{{ ingredient.amount|default("?") }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if ingredients.secondary and ingredients.secondary.length %}
			<hr>
			<h4>Cicha</h4>
			<table class="table">
				<thead>
					<tr>
						<th><i class="fas fa-crosshairs" title="Typ"></i></th>
						<th><i class="fas fa-id-card" title="Nazwa"></i></th>
						<th><i class="fas fa-balance-scale" title="Ilość"></i></th>
						<th><i class="fas fa-stopwatch" title="Czas"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients.secondary %}
					<tr>
						<td>{{ ingredient.type }}</td>
						<td>{{ ingredient.name }}</td>
						<td>{{ ingredient.amount|default("?") }}</td>
						<td>{{ ingredient.time|default("?") }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if ingredients.boil2 and ingredients.boil2.length %}
			<hr>
			<h4>Gotowanie po fermentacji{% if boilTime.length and boilTime.length >= 1 %} ({{ boilTime[1] }} min.){% endif %}</h4>
			<table class="table">
				<thead>
					<tr>
						<th><i class="fas fa-crosshairs" title="Typ"></i></th>
						<th><i class="fas fa-id-card" title="Nazwa"></i></th>
						<th><i class="fas fa-balance-scale" title="Ilość"></i></th>
						<th><i class="fas fa-stopwatch" title="Czas"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients.boil2 %}
					<tr>
						<td>{{ ingredient.type }}</td>
						<td>{{ ingredient.name }}</td>
						<td>{{ ingredient.amount|default("?") }}</td>
						<td>{{ ingredient.time|default("?") }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if ingredients.bottling and ingredients.bottling.length %}
			<hr>
			<h4>Dodatki przy rozlewie</h4>
			<table class="table">
				<thead>
					<tr>
						<th><i class="fas fa-crosshairs" title="Typ"></i></th>
						<th><i class="fas fa-id-card" title="Nazwa"></i></th>
						<th><i class="fas fa-balance-scale" title="Ilość"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients.bottling %}
					<tr>
						<td>{{ ingredient.type }}</td>
						<td>{{ ingredient.name }}</td>
						<td>{{ ingredient.amount|default("?") }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
</div>
