{% if mashName %}
<tr>
	<th colspan="7">{{ mashName }}</th>
</tr>
{% endif %}
{% for step in mashSteps %}
<tr>
	<td>{{ step.step }}</td>
	<td>{% if step.note %}{{ step.note }}{% endif %}</td>
	<td>{% if step.volume %}{{ step.volume|pl|unit(" l") }}{% endif %}</td>
	<td>{{ step.temperature|pl }}°C</td>
	<td>{% if step.time %}{{ step.time|pl }} min{% endif %}</td>
	<td>{% if step.estimated %}{{ step.estimated.volume|pl|unit(" l") }}, {{ step.estimated.sg|pl|unit("°Blg") }}{% endif
		%}</td>
</tr>
{% endfor %}
