{% if mash.length %}
<div class="card mb-4">
	<div class="card-body">
		<h3 class="card-title">Zacieranie</h3>
		<div class="card-text">
			{% if mashNote %}<p>{{ mashNote }}</p>{% endif %}
			{% if mash.length > 1 %}<p>Zacier podzielony na pół; zastosowana metoda reiterated mash.</p>{% endif %}
			<table class="table">
				<thead>
					<tr>
						<th><i class="fas fa-shoe-prints" title="Krok"></i></th>
						<th><i class="fas fa-comment" title="Notatka"></i></th>
						<th><i class="fas fa-glass-whiskey" title="Ilość wody"></i></th>
						<th><i class="fas fa-temperature-high" title="Temperatura"></i></th>
						<th><i class="fas fa-stopwatch" title="Czas"></i></th>
						<th><i class="fas fa-clipboard-list" title="Szacowane parametry brzeczki przedniej"></i></th>
					</tr>
				</thead>
				<tbody>
					{% for mashSteps in mash %}
						{% if mash.length > 1 %}
							{% set mashName = "Zacier " + loop.index %}
						{% endif %}
						{% include "./mashPart.njk" %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}
