{% if (notes and notes.length) or (tastingNotes and tastingNotes.length) %}
<div class="card">
	<div class="card-body">
		{% if notes and notes.length %}
		<h3 class="card-title">Notatki</h3>
		<div class="card-text">
			{% for note in notes %}
			<p>{{ note|batchlinks(batchBaseUrl) }}</p>
			{% endfor %}
		</div>
		{% endif %}

		{% if tastingNotes and tastingNotes.length %}
		<h3 class="card-title">Degustacja</h3>
		<div class="card-text">
			{% for note in tastingNotes %}
			<p>{{ note|batchlinks(batchBaseUrl) }}</p>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% endif %}
