{% from "../../macros/waterIons.njk" import waterIons %}
{% if water %}
<div class="card mb-4">
	<div class="card-body">
		<h3 class="card-title">Profil wody: {{ water.profile }}</h3>
		<div class="card-text">
			{{ waterIons(water.ions) }}

			{% if water.base %}
				<h4>Baza: {{ water.base.name }} ({{ water.base.amount|pl|unit("l") }})</h4>
				{% if water.base.ions %}
					{{ waterIons(water.base.ions) }}
				{% endif %}
			{% endif %}

			{% if water.dilution %}
				<h4>Rozcieńczenie: {{ water.dilution.name }} ({{ water.dilution.amount|pl|unit("l") }})</h4>
				{% if water.dilution.ions %}
					{{ waterIons(water.dilution.ions) }}
				{% endif %}
			{% endif %}

			{% if water.additions %}
			<h4>Dodatki</h4>
			<ul>
				{% if water.additions.CaSO4 %}<li><strong>CaSO<sub>4</sub></strong>: {{ water.additions.CaSO4|default("-")|pl|unit(" g") }}</li>{% endif %}
				{% if water.additions.MgSO4 %}<li><strong>MgSO<sub>4</sub></strong>: {{ water.additions.MgSO4|default("-")|pl|unit(" g") }}</li>{% endif %}
				{% if water.additions.NaCl %}<li><strong>NaCl</strong>: {{ water.additions.NaCl|default("-")|pl|unit(" g") }}</li>{% endif %}
				{% if water.additions.CaCl2 %}<li><strong>CaCl<sub>2</sub></strong>: {{ water.additions.CaCl2|default("-")|pl|unit(" g") }}</li>{% endif %}
				{% if water.additions.NaHCO3 %}<li><strong>NaHCO<sub>3</sub></strong>: {{ water.additions.NaHCO3|default("-")|pl|unit(" g") }}</li>{% endif %}
				{% if water.additions.CaCO3 %}<li><strong>CaCO<sub>3</sub></strong>: {{ water.additions.CaCO3|default("-")|pl|unit(" g") }}</li>{% endif %}
			</ul>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
