.batch-header {
	background-color: $colour-primary;
	font-family: $font-family-headings;
	text-align: center;
	padding: 1rem 0;
	margin: 0 0 1.5rem 0;
}

// NAME
.batch-header__name {
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.batch-header__name-main {
	display: inline-block;
	font-size: 2.5rem;
	line-height: 1em;
	padding: 0 1rem;
	border-bottom: 2px solid $body-color;
}
.batch-header__name-style {
	font-size: 1.25rem;
}

.batch-header__tags {
	margin-top: 1rem;
	.badge {
		font-weight: 400;
	}
}

@mixin batch-header-circle() {
	background-color: white;
	border-radius: 50%;
	border: 2px solid $colour-primary;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

// STATS
$circle-small-size: 5rem;
$circle-large-size: 12rem;
$circle-separation: 1rem;
$batch-data-height: 2rem;
$batch-data-translate: 1rem;
.batch-header__stats {
	//margin-top: ($circle-large-size - $circle-small-size) / 2;
	margin: -$batch-data-height 0;
	> * {
		position: relative;
		display: inline-block;
	}
	> :first-child {
		margin-right: $circle-separation;
	}
	> :last-child {
		margin-left: $circle-separation;
	}
}
.batch-header__stat-circle {
	@include batch-header-circle;
	width: $circle-small-size;
	height: $circle-small-size;
	line-height: $circle-small-size;
}
// GLASS
.batch-header__glass-circle {
	@include batch-header-circle;
	width: $circle-large-size;
	height: $circle-large-size;
	line-height: $circle-large-size;
	margin: 0 $circle-separation;
	//transform: translateY(-1 * ($circle-large-size - $circle-small-size) / 2);
}
// TWO-SIDED DATA VIEW
.batch-header__two-sided-data {
	display: grid;
	grid-template-columns: 1fr ($circle-large-size + 2 * $circle-separation) 1fr;
	height: $batch-data-height;
	line-height: $batch-data-height;

	&.batch-header__two-sided-data--top {
		transform: translateY($batch-data-translate);
	}
	&.batch-header__two-sided-data--bottom {
		transform: translateY(-$batch-data-translate);
	}
}
.batch-header__data-left {
	text-align: right;
}
.batch-header__data-right {
	text-align: left;
}
