.batch-list__pinned-batches {
	margin-bottom: $grid-gutter-width;
	display: grid;
	grid-gap: $grid-gutter-width;
	grid-template-columns: repeat(1, 1fr);
	@include media-breakpoint-up(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.batch-list__row {
	cursor: pointer;
}
