.beer__heading {
	display: grid;
	grid-gap: $grid-gutter-width;
	grid-template-columns: repeat(1, 1fr);
	@include media-breakpoint-up(sm) {
		grid-template-columns: repeat(2, 1fr);
	}
}
.beer__title {
	text-align: center;
	@include media-breakpoint-up(sm) {
		text-align: left;
	}
}
.beer__version {
	text-align: center;
	@include media-breakpoint-up(sm) {
		text-align: right;
	}
}

.beer__params {
	display: grid;
	grid-gap: $grid-gutter-width;
	grid-template-columns: repeat(2, 1fr);
	@include media-breakpoint-up(sm) {
		grid-template-columns: repeat(4, 1fr);
	}
}
.beer__param {
	font-weight: bold;
	justify-self: center;
	align-self: center;
}
