{% extends "../layout.njk" %}
{% import "../macros/ebc-glass.njk" as glass %}

{% block title %}#{{ batch }} {{ style.name }} | {% endblock %}

{% block body %}
	<div class="beer">

		<div class="batch-header">
			<div class="container">

				<div class="batch-header__name">
					<div class="batch-header__name-main">{{ name }}</div>
					<div class="batch-header__name-style">{{ style.name }}</div>
				</div>

				<div class="batch-header__two-sided-data batch-header__two-sided-data--top">
					<div class="batch-header__data-left">Warka #{{ batch }}</div>
					<div class="batch-header__data-spacer"></div>
					<div class="batch-header__data-right">
						{% if versions %}
							{% for origVersion in versions %}
								{% if loop.index > 1 %}|{% endif %}
								{% if origVersion === batch %}
									<span>Wersja {{ loop.index }}</span>
								{% else %}
									<a href="/warki/{{ origVersion }}">Wersja {{ loop.index }}</a>
								{% endif %}
							{% endfor %}
						{% else %}
							Wersja 1
						{% endif %}
					</div>
				</div>

				<div class="batch-header__stats">
					<div class="batch-header__stat-circle">
						{{ params.actual.og|default("?")|pl|unit("°Blg") }}
					</div>
					<div class="batch-header__stat-circle">
						{{ params.actual.abv|default("?")|pl|unit("%") }}
					</div>
					<div class="batch-header__glass-circle">
						{{ "?" if not params.planned.ebc else glass.output(params.planned.ebc) }}
					</div>
					<div class="batch-header__stat-circle">
						{{ params.planned.ibu|default("?")|pl|unit(" IBU") }}
					</div>
					<div class="batch-header__stat-circle">
						{{ rating|default("?")|pl|unit(" / 5") }}
					</div>
				</div>

				<div class="batch-header__two-sided-data batch-header__two-sided-data--bottom">
					<div class="batch-header__data-left">
						{% if prev %}
							<a href="/warki/{{ prev.batch }}">
								&laquo; Warka #{{ prev.batch }}: {{ prev.style.name }}
							</a>
						{% endif %}
					</div>
					<div class="batch-header__data-spacer"></div>
					<div class="batch-header__data-right">
						{% if next %}
							<a href="/warki/{{ next.batch }}">
								Warka #{{ next.batch }}: {{ next.style.name }} &raquo;
							</a>
						{% endif %}
					</div>
				</div>

				<div class="batch-header__tags">
					{% for tag in tags %}
						<a href="/tagi?tag={{ tag.name }}" class="badge badge-light">{{ tag.name }}</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="container">
			<div class="card mb-4">
				<div class="card-body">
					<h3 class="card-title">Parametry</h3>
					<div class="card-text">
						<table class="table">
							<thead>
							<tr>
								<th></th>
								<th>Prognoza</th>
								<th>Uzyskano</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th>Rozmiar warki</th>
								<td>{{ params.planned.volume|default("?")|pl|unit(" l") }}</td>
								<td>{{ params.actual.volume|default("?")|pl|unit(" l") }}</td>
							</tr>
							<tr>
								<th>Ekstrakt początkowy</th>
								<td>{{ params.planned.og|default("?")|pl|unit("°Blg") }}</td>
								<td>{{ params.actual.og|default("?")|pl|unit("°Blg") }}</td>
							</tr>
							<tr>
								<th>Ekstrakt końcowy</th>
								<td>{{ params.planned.fg|default("?")|pl|unit("°Blg") }}</td>
								<td>{{ params.actual.fg|default("?")|pl|unit("°Blg") }}</td>
							</tr>
							<tr>
								<th>Goryczka</th>
								<td>{{ params.planned.ibu|default("?")|pl|unit(" IBU") }}</td>
								<td>?</td>
							</tr>
							<tr>
								<th>Barwa</th>
								<td>{{ params.planned.ebc|default("?")|pl|unit(" EBC") }}</td>
								<td>?</td>
							</tr>
							<tr>
								<th>Alkohol</th>
								<td>{{ params.planned.abv|default("?")|pl|unit("%") }}</td>
								<td>{{ params.actual.abv|default("?")|pl|unit("%") }}</td>
							</tr>
							<tr>
								<th>Wydajność warzelni</th>
								<td>{{ params.planned.efficiency|default("?")|pl|unit("%") }}</td>
								<td>{{ params.actual.efficiency|default("?")|pl|unit("%") }}</td>
							</tr>
							<tr>
								<th>Odfermentowanie</th>
								<td>{{ params.planned.attenuation|default("?")|pl|unit("%") }}</td>
								<td>{{ params.actual.attenuation|default("?")|pl|unit("%") }}</td>
							</tr>
							<tr>
								<th>Nasycenie CO<sub>2</sub></th>
								<td>{{ params.planned.carbonation|default("?")|pl|unit(" vol.") }}</td>
								<td>?</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			{% include "../partials/batch/ingredients.njk" %}
			{% include "../partials/batch/waterProfile.njk" %}
			{% include "../partials/batch/mash.njk" %}
			{% include "../partials/batch/fermentation.njk" %}
			{% include "../partials/batch/notes.njk" %}

		</div>

	</div>
{% endblock %}
