{% extends "../layout.njk" %}

{% block title %}#{{ batch }} {{ name }} | {% endblock %}

{% block batchNav %}
	<nav class="batch-nav bg-light">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				{% if prev %}
					<a href="{{ batchBaseUrl }}/{{ prev.batch }}" class="nav-link">
						&laquo; Poprzedni
					</a>
				{% else %}
					<span class="nav-link nav-link-disabled">&laquo; Poprzedni</span>
				{% endif %}
			</li>
			<li class="nav-item">
				<a href="{{ batchBaseUrl }}" class="nav-link">Lista</a>
			</li>
			<li class="nav-item">
				{% if next %}
					<a href="{{ batchBaseUrl }}/{{ next.batch }}" class="nav-link">
						Następny &raquo;
					</a>
				{% else %}
					<span class="nav-link nav-link-disabled">Następny &raquo;</span>
				{% endif %}
			</li>
		</ul>
	</nav>
{% endblock %}

{% block body %}
	<div class="beer container">

		<div class="card mb-4">
			<div class="card-header">
				Warka {{ batch }}
			</div>
			<div class="card-body">
				<div class="beer__heading">
					<div class="beer__title">
						<h2 class="card-title">{{ name }}</h2>
						<p class="card-subtitle text-muted">{{ style.name }}</p>
						<div class="beer__tags">
							{% for tag in tags %}
								<a href="/tagi?tag={{ tag.name }}" class="badge badge-light">{{ tag.name }}</a>
							{% endfor %}
						</div>
					</div>
					<div class="beer__version">
						<p>Wersja {{ version }}</p>
						{% if version > 1 %}
							Porównaj:
							{% for origVersion in original %}
								{% if loop.index > 1 %}
									|
								{% endif %}
								<a href="{{ batchBaseUrl }}/{{ origVersion }}">wersja {{ loop.index }}</a>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-4">
			<div class="card-body">
				<h3 class="card-title">Parametry</h3>
				<div class="card-text">
					<table class="table">
						<tbody>
						<tr>
							<th>Uzyskana objętość</th>
							<td>{{ params.actual.volume|default("?")|pl|unit(" l") }}</td>
						</tr>
						<tr>
							<th>Ekstrakt początkowy</th>
							<td>{{ params.actual.og|default("?")|pl|unit("°Blg") }}</td>
						</tr>
						<tr>
							<th>Ekstrakt końcowy</th>
							<td>{{ params.actual.fg|default("?")|pl|unit("°Blg") }}</td>
						</tr>
						<tr>
							<th>Alkohol</th>
							<td>{{ params.actual.abv|default("?")|pl|unit("%") }}</td>
						</tr>
						<tr>
							<th>Odfermentowanie</th>
							<td>{{ params.actual.attenuation|default("?")|pl|unit("%") }}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		{% include "../partials/batch/ingredients.njk" %}
		{% include "../partials/batch/waterProfile.njk" %}
		{% include "../partials/batch/fermentation.njk" %}
		{% include "../partials/batch/notes.njk" %}

	</div>
{% endblock %}
