{% extends '../layout.njk' %}

{% block body %}
	<div class="batch-list container">
		{% if tags %}
			{% include "../partials/tags.njk" %}
		{% endif %}

		{% if pinnedBatches and pinnedBatches.length %}
		<div class="batch-list__pinned-batches">
			{% for batch in pinnedBatches %}
				<div class="card batch-list__pinned-batch">
					<div class="card-body">
						<h5 class="card-title"><a href="{{ batch.url }}">{{ batch.batch }}. {{ batch.name }} v.{{ batch.version }}</a></h5>
						<h6 class="card-subtitle text-muted mb-3">{{ batch.style.name }}{% if batch.params.actual.og %} {{ batch.params.actual.og|pl }}°Blg{% endif %}</h6>
						<div class="card-text">
							<table class="table">
							{% for note in batch.fermentation %}
								{% if note.pinned %}
								<tr>
									<td>{{ note.date }} ({{ note.date|fromnow }})</td>
									<td>{{ note.step }}</td>
								</tr>
								{% endif %}
							{% endfor %}
							</table>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% endif %}

		{% if batches.length %}
		<div class="card">
			<table class="table table-hover batch-list__table">
				<thead>
					<tr>
						<th>Warka</th>
						<th>Nazwa</th>
						<th>Styl</th>
						<th>Ekstrakt</th>
						<th>Wersja</th>
					</tr>
				</thead>
				{% for batch in batches %}
					<tr class="batch-list__row" data-url="{{ batch.url }}">
						<td>#{{ batch.batch }}</td>
						<td>{{ batch.name }}</td>
						<td>{{ batch.style.name }}</td>
						<td>{% if batch.params.actual.og %} {{ batch.params.actual.og|pl }}°Blg{% endif %}</td>
						<td>{{ batch.version }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	{% if batches.length %}
	<script defer>
		(function() {
			const table = document.querySelector(".batch-list__table");
			table.addEventListener("click", e => {
				let target = e.target;
				while (!target.classList.contains("batch-list__row") && target !== table) {
					target = target.parentNode;
				}
				if (target.classList.contains("batch-list__row")) {
					e.preventDefault();
					window.location = target.dataset.url;
				}
			});
		})();
	</script>
	{% endif %}
{% endblock %}
