{% extends "../layout.njk" %}

{% block title %}Tagi | {% endblock %}

{% block body %}
	<div class="tags container">
		<div class="card mb-4">
			<div class="card-header">
				Tagi
			</div>
			<form class="card-body" method="GET" action="/tagi">
				<div class="tags__container">
					{% for tag in tags %}
						<span class="tags__tag">
							<input type="checkbox" id="tag_{{ tag.name }}" name="tag" value="{{ tag.name }}" {{ "checked" if tagNames and tag.name in tagNames }} />
							<label for="tag_{{ tag.name }}">{{ tag.name }} ({{ tag.count }})</label>
						</span>
					{% endfor %}
				</div>
				<div class="text-right">
					<button type="reset" class="btn btn-light" id="reset">Wyczyść</button>
					<button type="submit" class="btn btn-primary">Wyświetl</button>
				</div>
			</form>
		</div>
	</div>

	{% if selectedTags %}
	<div class="batch-list container">
		{% if tags %}
			{% include "../partials/selectedTags.njk" %}
		{% endif %}

		<div class="card">
			<table class="table table-hover batch-list__table">
				<thead>
					<tr>
						<th>Warka</th>
						<th>Nazwa</th>
						<th>Styl</th>
						<th>Ekstrakt</th>
						<th>Wersja</th>
					</tr>
				</thead>
				{% for batch in batches %}
				<tr class="batch-list__row" data-url="{{ batch.url }}">
					<td>#{{ batch.batch }}</td>
					<td>{{ batch.name }}</td>
					<td>{{ batch.style.name }}</td>
					<td>{% if batch.params.actual.og %} {{ batch.params.actual.og|pl }}°Blg{% endif %}</td>
					<td>{{ batch.version }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block scripts %}
<script defer>
	(function () {
		const reset = document.getElementById("reset");
		reset.addEventListener("click", e => {
			e.preventDefault();
			Array.from(document.querySelectorAll("input[type=checkbox]"))
				.filter(checkbox => checkbox.checked === true)
				.forEach(checkbox => checkbox.checked = false);
		});

		{% if batches and batches.length %}
		const table = document.querySelector(".batch-list__table");
		table.addEventListener("click", e => {
			let target = e.target;
			while (!target.classList.contains("batch-list__row") && target !== table) {
				target = target.parentNode;
			}
			if (target.classList.contains("batch-list__row")) {
				e.preventDefault();
				window.location = target.dataset.url;
			}
		});
		{% endif %}
	})();
</script>
{% endblock %}
