{% macro output(ebc) %}
	<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	     x="0px" y="0px" viewBox="0 0 432.713 432.713" style="enable-background:new 0 0 432.713 432.713;"
	     xml:space="preserve" class="ebc-glass">
			<path class="ebc-glass__beer--{{ ebc | ebc }}" d="M162.027,370.213v-8c0-60-6.4-143.2-12-202.4l-0.8-8.8h134.4l-0.8,8.8c-5.6,59.2-12.8,142.4-12,202.4
	v8H162.027z"/>
		<path class="ebc-glass__beer-shadow--{{ ebc | ebc }}" d="M283.627,150.213h-32.8l-0.8,8.8c-5.6,59.2-12.8,142.4-12,202.4v8h32.8v-8c0-60,6.4-143.2,12-202.4
	L283.627,150.213z"/>
		<path class="ebc-glass__beer--{{ ebc | ebc }}" d="M211.627,423.813c-16,0-31.2-2.4-45.6-7.2l-5.6-2.4l0.8-6.4c0.8-8,1.6-18.4,1.6-30.4v-8h108v8
	c0,12,0.8,22.4,1.6,30.4l0.8,6.4l-5.6,2.4c-15.2,5.6-30.4,8-46.4,7.2H211.627L211.627,423.813z"/>
		<path class="ebc-glass__beer-shadow--{{ ebc | ebc }}" d="M272.427,408.613c-0.8-8-1.6-18.4-1.6-30.4v-8h-35.2v8c0,12,0.8,22.4,1.6,30.4l0.8,6.4l-5.6,2.4
	c-11.2,4-22.4,6.4-33.6,7.2c4,0,8,0.8,12.8,0.8h9.6c16,0,31.2-2.4,46.4-7.2l5.6-2.4L272.427,408.613z"/>
		<path class="ebc-glass__head" d="M149.227,150.213l-0.8-7.2c-2.4-20-4-36.8-4.8-46.4l-0.8-8.8h148l-0.8,8.8
	c-0.8,9.6-3.2,25.6-4.8,46.4l-0.8,7.2L149.227,150.213z"/>
		<path class="ebc-glass__head-shadow" d="M258.027,87.813l-1.6,8.8c-0.8,9.6-3.2,25.6-4.8,46.4l-0.8,7.2h32.8l0.8-7.2c2.4-20,4-36.8,4.8-46.4
	l1.6-8.8L258.027,87.813L258.027,87.813z"/>
		<path class="ebc-glass__head" d="M159.627,87.813c-11.2,0-20-8.8-20-20s8.8-20,20-20l0,0h0.8h1.6v-0.8v-0.8c0-14.4,12-26.4,27.2-26.4
	c4.8,0,9.6,1.6,14.4,4c10.4-16.8,32.8-21.6,50.4-11.2c10.4,6.4,16.8,17.6,16.8,29.6v0.8h0.8h0.8c12,0,22.4,9.6,22.4,22.4
	s-11.2,22.4-23.2,22.4H159.627z"/>
		<path class="ebc-glass__head-shadow" d="M271.627,43.813h-0.8h-0.8v-0.8c-0.8-20-16.8-36-36.8-35.2c-7.2,0-14.4,2.4-20.8,7.2
	c17.6,1.6,32,16.8,32,35.2v0.8h0.8h0.8c12,0,22.4,9.6,22.4,22.4c0,5.6-2.4,11.2-6.4,16h10.4c12,0,22.4-9.6,22.4-22.4
	S283.627,43.813,271.627,43.813L271.627,43.813L271.627,43.813z"/>
		<path class="ebc-glass__outline" d="M277.227,36.613c-4-24-27.2-40-51.2-36c-9.6,0.8-19.2,5.6-25.6,13.6c-17.6-7.2-37.6,1.6-44.8,19.2
	c-0.8,2.4-1.6,4-1.6,6.4c-15.2,3.2-24.8,18.4-21.6,33.6c0.8,4,2.4,7.2,4,10.4c-1.6,1.6-1.6,3.2-1.6,5.6c0,2.4,28.8,248,16.8,324
	c-0.8,3.2,1.6,6.4,4,8c17.6,8,36.8,12,56,11.2h9.6c19.2,0.8,38.4-3.2,56-11.2c3.2-1.6,4.8-4.8,4-8c-12-76,16.8-321.6,16.8-324
	c0-2.4-0.8-4.8-2.4-6.4l0,0c9.6-13.6,5.6-32.8-8-41.6C285.227,39.013,281.227,37.413,277.227,36.613L277.227,36.613z
	 M221.227,415.813h-4.8c-16,0.8-32.8-1.6-48-7.2c0.8-8.8,1.6-20,2.4-31.2h92c0,12,0.8,22.4,2.4,31.2
	C250.827,414.213,235.627,416.613,221.227,415.813L221.227,415.813z M262.027,362.213h-92c0-60.8-6.4-144-12.8-203.2h116.8
	C269.227,217.413,262.827,301.413,262.027,362.213L262.027,362.213z M276.427,142.213h-120c-2.4-20.8-4-36.8-4.8-46.4h130.4
	C280.427,105.413,278.827,122.213,276.427,142.213L276.427,142.213z M271.627,79.813h-112c-6.4,0-12-5.6-12-12s5.6-12,12-12l0,0h0.8
	c4,0.8,8-2.4,8.8-7.2c0-0.8,0-0.8,0-1.6v-0.8c0-10.4,8-18.4,18.4-18.4c4,0,7.2,0.8,10.4,3.2c4,2.4,8.8,1.6,11.2-2.4l0,0
	c8-12.8,25.6-16.8,39.2-8.8c8,4.8,12.8,13.6,12.8,23.2v0.8c0,2.4,0.8,4,2.4,5.6s4,2.4,6.4,2.4h0.8c8,0,14.4,6.4,14.4,14.4
	S279.627,79.813,271.627,79.813L271.627,79.813L271.627,79.813z"/>
	</svg>
{% endmacro %}
