{% macro waterIons(ions) %}
<table class="table">
	<thead>
		<tr>
			<th>Ca<sup>2+</sup></th>
			<th>Mg<sup>2+</sup></th>
			<th>Na<sup>+</sup></th>
			<th>SO<sub>4</sub><sup>2-</sup></th>
			<th>Cl<sup>-</sup></th>
			<th>HCO<sub>3</sub><sup>-</sup></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ ions.Ca|pl|unit(" ppm") }}</td>
			<td>{{ ions.Mg|pl|unit(" ppm") }}</td>
			<td>{{ ions.Na|pl|unit(" ppm") }}</td>
			<td>{{ ions.SO4|pl|unit(" ppm") }}</td>
			<td>{{ ions.Cl|pl|unit(" ppm") }}</td>
			<td>{{ ions.HCO3|pl|unit(" ppm") }}</td>
		</tr>
	</tbody>
</table>
{% endmacro %}
